{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
<div class="viga"> 
    <div class="contenido">
        <p> publicado: {{ post.published_date }}</p>
        <h2 class="ttt"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.imagen %}
            <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}">
        {% endif %}
        {% if user.is_authenticated %}
            <form action="{% url 'post_delete' pk=post.pk %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}
